@{
    Layout = null;
}

<ul class="nav">

    <li class="active">
        <a href="#">
            <i class="material-icons">dashboard</i>
            <p> HỆ THỐNG </p>
        </a>
    </li>

    <li>
        <a data-toggle="collapse" href="#adthongtinchung">
            <i class="material-icons">image</i>
            <p>
                Thông tin chung
                <b class="caret"></b>
            </p>
        </a>

        <div class="collapse" id="adthongtinchung">
            <ul class="nav">
                <li>
                    <a href="/donvi/show">
                        <span class="sidebar-mini"> ĐV </span>
                        <span class="sidebar-normal"> Đơn vị </span>
                    </a>
                </li>
                <li>
                    <a href="/thietlap/show">
                        <span class="sidebar-mini"> TL </span>
                        <span class="sidebar-normal"> Thiết lập </span>
                    </a>
                </li>
                <li>
                    <a href="/nguoidung/show">
                        <span class="sidebar-mini"> ND </span>
                        <span class="sidebar-normal"> Người dùng </span>
                    </a>
                </li>
            </ul>
        </div>
    </li>

    <li>
        <a data-toggle="collapse" href="#addanhmuc">
            <i class="material-icons">apps</i>
            <p>
                Danh mục
                <b class="caret"></b>
            </p>
        </a>

        <div class="collapse" id="addanhmuc">
            <ul class="nav">
                <li>
                    <a href="/namhoc/show">
                        <span class="sidebar-mini"> NH </span>
                        <span class="sidebar-normal"> Năm học </span>
                    </a>
                </li>
                <li>
                    <a href="/khoihoc/show">
                        <span class="sidebar-mini"> KL </span>
                        <span class="sidebar-normal"> Khối lớp </span>
                    </a>
                </li>
                <li>
                    <a href="/tobomon/show">
                        <span class="sidebar-mini"> TBM </span>
                        <span class="sidebar-normal"> Tổ bộ môn </span>
                    </a>
                </li>
                <li>
                    <a href="/lophoc/show">
                        <span class="sidebar-mini"> LH </span>
                        <span class="sidebar-normal"> Lớp học </span>
                    </a>
                </li>
                <li>
                    <a href="/monhoc/show">
                        <span class="sidebar-mini"> MH </span>
                        <span class="sidebar-normal"> Môn học </span>
                    </a>
                </li>
            </ul>
        </div>
    </li>
</ul>
<ul class="nav">

    <li class="active">
        <a href="#">
            <i class="material-icons">dashboard</i>
            <p> NGÂN HÀNG CÂU HỎI </p>
        </a>
    </li>

    <li>
        <a data-toggle="collapse" href="#adhosogiaovien">
            <i class="material-icons">image</i>
            <p>
                Hồ sơ giáo viên
                <b class="caret"></b>
            </p>
        </a>

        <div class="collapse" id="adhosogiaovien">
            <ul class="nav">
                <li>
                    <a href="/donvi/show">
                        <span class="sidebar-mini"> GV </span>
                        <span class="sidebar-normal"> Danh sách giáo viên </span>
                    </a>
                </li>
                <li>
                    <a href="/thietlap/show">
                        <span class="sidebar-mini"> PC </span>
                        <span class="sidebar-normal"> Phân công giáo viên </span>
                    </a>
                </li>
                <li>
                    <a href="/thietlap/show">
                        <span class="sidebar-mini"> TKB </span>
                        <span class="sidebar-normal"> Thời khóa biểu </span>
                    </a>
                </li>
            </ul>
        </div>
    </li>

    <li>
        <a data-toggle="collapse" href="#adhosohocsinh">
            <i class="material-icons">apps</i>
            <p>
                Hồ sơ học sinh
                <b class="caret"></b>
            </p>
        </a>

        <div class="collapse" id="adhosohocsinh">
            <ul class="nav">
                <li>
                    <a href="/namhoc/show">
                        <span class="sidebar-mini"> HS </span>
                        <span class="sidebar-normal"> Danh sách học sinh </span>
                    </a>
                </li>
                <li>
                    <a href="/tobomon/show">
                        <span class="sidebar-mini"> KQ </span>
                        <span class="sidebar-normal"> Kết quả học tập </span>
                    </a>
                </li>
                <li>
                    <a href="/lophoc/show">
                        <span class="sidebar-mini"> KC </span>
                        <span class="sidebar-normal"> Kết chuyển dữ liệu </span>
                    </a>
                </li>
            </ul>
        </div>
    </li>

    <li>
        <a href="./widgets.html">
            <i class="material-icons">widgets</i>
            <p> Quản lý lớp học </p>
        </a>
    </li>

</ul>
<ul class="nav">

    <li class="active">
        <a href="#">
            <i class="material-icons">dashboard</i>
            <p> RA ĐỀ THI </p>
        </a>
    </li>

    <li>
        <a data-toggle="collapse" href="#adhoctapdanhmuc">
            <i class="material-icons">image</i>
            <p>
                Danh mục
                <b class="caret"></b>
            </p>
        </a>

        <div class="collapse" id="adhoctapdanhmuc">
            <ul class="nav">
                <li>
                    <a href="/donvi/show">
                        <span class="sidebar-mini"> KH </span>
                        <span class="sidebar-normal"> Khóa học </span>
                    </a>
                </li>
                <li>
                    <a href="/thietlap/show">
                        <span class="sidebar-mini"> CĐ </span>
                        <span class="sidebar-normal"> Chủ đề học tập </span>
                    </a>
                </li>
                <li>
                    <a href="/thietlap/show">
                        <span class="sidebar-mini"> ĐG </span>
                        <span class="sidebar-normal"> Thang đánh giá </span>
                    </a>
                </li>
                <li>
                    <a href="/thietlap/show">
                        <span class="sidebar-mini"> KQ </span>
                        <span class="sidebar-normal"> Kết quả học tập </span>
                    </a>
                </li>
            </ul>
        </div>
    </li>

    <li>
        <a data-toggle="collapse" href="#adhoctaphoctap">
            <i class="material-icons">apps</i>
            <p>
                Học tập
                <b class="caret"></b>
            </p>
        </a>

        <div class="collapse" id="adhoctaphoctap">
            <ul class="nav">
                <li>
                    <a href="/namhoc/show">
                        <span class="sidebar-mini"> HS </span>
                        <span class="sidebar-normal"> Danh sách học sinh </span>
                    </a>
                </li>
                <li>
                    <a href="/tobomon/show">
                        <span class="sidebar-mini"> KH </span>
                        <span class="sidebar-normal"> Danh sách khóa học </span>
                    </a>
                </li>
            </ul>
        </div>
    </li>
</ul>

<ul class="nav">

    <li class="active">
        <a href="#">
            <i class="material-icons">dashboard</i>
            <p> BÁO CÁO, THỐNG KÊ </p>
        </a>
    </li>

    <li>
        <a data-toggle="collapse" href="#adbaocaothongke">
            <i class="material-icons">image</i>
            <p>
                Báo cáo...
                <b class="caret"></b>
            </p>
        </a>

        <div class="collapse" id="adbaocaothongke">
            <ul class="nav">
                <li>
                    <a href="/donvi/show">
                        <span class="sidebar-mini"> KH </span>
                        <span class="sidebar-normal"> Khóa học </span>
                    </a>
                </li>
                <li>
                    <a href="/thietlap/show">
                        <span class="sidebar-mini"> CĐ </span>
                        <span class="sidebar-normal"> Chủ đề học tập </span>
                    </a>
                </li>
                <li>
                    <a href="/thietlap/show">
                        <span class="sidebar-mini"> ĐG </span>
                        <span class="sidebar-normal"> Thang đánh giá </span>
                    </a>
                </li>
                <li>
                    <a href="/thietlap/show">
                        <span class="sidebar-mini"> KQ </span>
                        <span class="sidebar-normal"> Kết quả học tập </span>
                    </a>
                </li>
            </ul>
        </div>
    </li>

    <li>
        <a data-toggle="collapse" href="#adhoctaphoctap">
            <i class="material-icons">apps</i>
            <p>
                Thống kê
                <b class="caret"></b>
            </p>
        </a>

        <div class="collapse" id="adhoctaphoctap">
            <ul class="nav">
                <li>
                    <a href="/namhoc/show">
                        <span class="sidebar-mini"> HS </span>
                        <span class="sidebar-normal"> Danh sách học sinh </span>
                    </a>
                </li>
                <li>
                    <a href="/tobomon/show">
                        <span class="sidebar-mini"> KH </span>
                        <span class="sidebar-normal"> Danh sách khóa học </span>
                    </a>
                </li>
            </ul>
        </div>
    </li>
</ul>
