@{
    Layout = null;
}

<ul class="nav">

    <li class="active">
        <a href="#">
            <i class="material-icons">dashboard</i>
            <p> HỆ THỐNG </p>
        </a>
    </li>

    <li>
        <a href="/quantri/show">
            <i class="material-icons">widgets</i>
            <p> Thêm đơn vị </p>
        </a>
    </li>
</ul>
